<%= form_with(model: tweet, id: "tweet-form", data: { controller: "modals", action: "turbo:submit-end->modals#close" }) do |f| %>
  <div data-controller="char-count" class="space-y-4">
    <div class="space-y-2">
      <%= f.label :body, "Tweet", class: "sr-only" %>
      <%= f.text_area :body, autofocus: true, autocomplete: "body", rows: 6, maxlength: 300,
        class: "w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500",
        data: { char_count_target: "textarea",
                action: "input->char-count#updateCount",
                max_length: 300 } %>
      <% if tweet.errors.any? %>
        <span class="text-red-500">
          <%= tweet.errors.full_messages.first %>
        </span>
      <% end %>
    </div>
    <div class="flex items-center justify-between">
      <span class="text-sm text-gray-500" id="char-count" data-char-count-target="count">0 / 300</span>
      <%= f.submit "Tweet",
          class: "cursor-pointer px-4 py-2 text-white bg-blue-500 rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" %>
    </div>
  </div>
<% end %>
