<%= link_to tweet, class: "block max-w-xl mx-auto my-8 bg-white shadow-md rounded-xl md:max-w-3xl" do %>
  <div class="p-8">
    <div class="flex items-center mb-4">
      <div>
        <p class="text-lg font-semibold text-gray-900">@<%= tweet.user.username %></p>
        <p class="text-sm text-gray-600"><%= tweet.created_at.to_formatted_s(:long) %></p>
      </div>
    </div>
    <p class="mb-4 text-base font-medium text-gray-700 whitespace-pre-wrap"><%= format_body(tweet.body) %></p>
    <div class="flex items-center gap-6 text-base font-medium text-gray-500">
      <button class="flex items-center gap-1">
        <span class="cursor-pointer hover:text-red-500">
          <%= inline_svg_tag("icons/heart.svg") %>
        </span>
        <span>
          <%= tweet.likes.size %>
        </span>
      </button>
      <button class="flex items-center gap-1">
        <span class="cursor-pointer hover:text-blue-600">
          <%= inline_svg_tag("icons/comment.svg") %>
        </span>
        <span>
          <%= tweet.comments.size %>
        </span>
      </button>
      <div data-controller="dropdown" class="relative inline-flex">
        <button data-action="click->dropdown#toggle"
            class="flex gap-1.5 hover:text-green-500 focus:outline-none"
            aria-expanded="true" aria-haspopup="true">
          <%= inline_svg_tag("icons/retweet.svg") %>
          Retweet
        </button>
        <div data-dropdown-target="menu"
            class="absolute hidden w-48 mt-2 transition-all duration-300 bg-white rounded-md shadow-lg top-5 ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="retweet-menu">
          <div class="py-1">
            <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Retweet</div>
            <div class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Repost with comment</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
