<div class="tweet_item">
  <div class="px-8 py-6">
    <%= link_to tweet_path(tweet) do %>
      <div class="mb-4">
        <p class="text-lg font-semibold text-gray-900">@<%= tweet.user.username %></p>
        <p class="text-sm text-gray-600"><%= tweet.created_at.to_formatted_s(:long) %></p>
      </div>
      <p class="tweet_body"><%= format_body(tweet.body) %></p>
    <% end %>

    <%= render "shared/tweets/tweet_controls", tweet: tweet %>
  </div>
</div>
