<div class="controls_container">
  <div class="flex items-center gap-1">
    <%= inline_svg_tag "icons/heart.svg", class: "cursor-pointer hover:text-red-500" %>
    <span>
      <%= tweet.likes.size %>
    </span>
  </div>

  <div class="flex items-center gap-1">
    <%= inline_svg_tag "icons/comment.svg", class: "cursor-pointer hover:text-blue-600" %>
    <span>
      <%= tweet.comments.size %>
    </span>
  </div>

  <div data-controller="dropdown" data-dropdown-hide-class="hidden" class="relative inline-flex">
    <%= button_tag data: {action: "click->dropdown#toggle"},
        class: "flex gap-1.5 hover:text-green-500 focus:outline-none" do %>
      <%= inline_svg_tag("icons/retweet.svg") %>
      Retweet
    <% end %>

    <div data-dropdown-target="menu" class="hidden dropdown_menu"
        role="menu" aria-orientation="vertical" aria-labelledby="retweet-menu">
      <div class="py-1">
        <%= button_to "Repost", tweet_repost_path(tweet), method: :post, data: {action: "click->dropdown#close"},
            class: "dropdown_item" %>

        <%= link_to "Retweet", new_tweet_retweet_path(tweet), data: {turbo_frame: "modal"},
            class: "dropdown_item" %>
      </div>
    </div>
  </div>
</div>
