<% content_for :title, "Sign In" %>

<section class="flex flex-col sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
      Sign In
    </h2>
    <p class="mt-2 text-sm text-center text-gray-600">
      Access your account
    </p>
  </div>
 <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "devise_form"}) do |f| %>
        <div>
          <%= f.label :login %>
          <%= f.text_field :login, autofocus: true, autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="flex items-center">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>

        <div>
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <div class="mt-6">
        <p class="text-sm text-center text-gray-600">
          Don't have an account?
          <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
  </div>
</section>
